.page-header-image
{
  background-image: url(./css/hospital\ management\ Admin/assets/images/login.jpg);
}
.navbar-unset
{
  position: unset !important;
  width: 100% !important;
}
.about-us-section
{
  margin-top: 80px !important;
}

.h5-size
{
  font-size: 15px;
  margin-bottom: 0;
}